*{
    padding: 0;
    margin: 0;
}

article
{
    background-image: url(../img/dd2e3b29cbc9232e63379fe65af1d7f6.gif);
    background-size: 100%;
    background-color: rgb(199, 27, 15);
}

nav
{
    background-color: rgb(15, 15, 15);
}
footer
{
    background-color: rgb(251, 253, 255);
}
footer 
{
    background-image: url(../img/tumblr_pips1snsWe1uzwgsuo1_400.gif);
    background-size: 100%;
    color: rgb(19, 19, 19);
}
